

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% load crispy_forms_tags %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>TuxSchool</title>
</head>
<body>


        <header>
            <!-- Como um link -->
            <nav class="navbar navbar-dark bg-dark">
              <a class="navbar-brand" href="#">TuxSchool</a>
            </nav>
        </header>

        <main class="container mt-5">
            <h1>Cadastrar novo Aluno:</h1>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
            </form>
        </main>

</body>
</html>